
.rbc-calendar {
    background-color: #222;
    color: #eee;
    border: 1px solid #444;
  }
  
  .rbc-toolbar {
    background-color: #333;
    border-bottom: 1px solid #444;
  }
  
  .rbc-toolbar button {
    color: #eee;
  }
  
  .rbc-toolbar button:hover,
  .rbc-toolbar button:focus {
    background-color: #444;
    color: #fff;
  }
  
  .rbc-month-view {
    border: 1px solid #444;
  }
  
  .rbc-day-bg {
    border: 1px solid #444;
  }
  
  .rbc-header {
    border-bottom: 1px solid #444;
    background-color: #333;
    color: #eee;
  }
  
  .rbc-event {
    background-color: #555;
    border: 1px solid #666;
  }
  
  .rbc-today {
    background-color: #444;
  }
  
